<tr>
    <td colspan="2">
    <%= form_for [@story, @comment], :html => { class: 'form-stacked' } do |f| %>
        <% if @comment.errors.any? %>
            <div id="alert-message block-message error">
              <p><strong><%= pluralize(@comment.errors.count, "error") %></strong> prohibited this comment from being saved:</p>
              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="clearfix">
          <%= f.label :content, 'Add Comment' %>
          <div class="input">
            <%= f.text_area :content, :class => 'span10' %>
          </div>
        </div>
        <%= f.submit 'Add Comment', :class => 'btn primary' %>

    <% end %>
    </td>
</tr>