<h1>Listing users</h1>
<table class="zebra-striped">
  <thead>
  <tr>
    <th>Full Name</th>
    <th>Email</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
      <tr>
        <td><%= link_to user.full_name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td>
          <%= link_to "Show", user_path(user) %><br />
          <%= link_to "Edit", edit_user_path(user) %><br />
          <%= link_to "Destroy", user_path(user), :method => :delete,
                                                  :confirm => "#{t("web-app-theme.confirm",
                                                  :default => "Are you sure?")}" %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>

<%= link_to "New", new_user_path, :class => 'btn primary' %>
