<form>
<div class="clearfix">
  <%= label_tag "Full name" %>
  <div class="input">
    <span class="uneditable-input"><%= @user.full_name %></span>
  </div>
</div>

<div class="clearfix">
  <%= label_tag "E-mail" %>
  <div class="input">
    <span class="uneditable-input"><%= @user.email %></span>
  </div>
</div>

<div class="actions">
    <%= link_to "Edit", edit_user_path(@user), :class => 'btn primary' %>
    <%= link_to "Back", users_path, :class => 'btn' %>
</div>
</form>
