<h1>Listing stories</h1>
<table class="zebra-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>User</th>
    <th>State</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @stories.each do |story| -%>
      <tr>
        <td><%= story.id %></td>
        <td><%= link_to story.title, story_path(story) %></td>
        <td>
          <%= unless story.user.nil? then story.user.full_name end %>
        </td>
        <td><%= story.state %></td>
        <td><%= story.created_at %></td>
        <td>
          <%= link_to "Show", story_path(story) %>
          <%= link_to "Edit", edit_story_path(story) %>
          <%= link_to "Destroy", story_path(story), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>

<%= link_to "New Task", new_story_path, :class => 'btn primary' %>
