<div class="row section">
  <h2><%= @story.title %></h2>

  <p><%= @story.content %></p>

  <% unless @story.user.nil? %>
  <p>
    <strong>Referred to: </strong> <%= link_to @story.user.full_name, user_path(@story.user)  %>
  </p>
  <p>
    <strong>State: </strong> <%= @story.state.name %>
  </p>
  <% end %>

  <%= link_to "Edit", edit_story_path(@story), :class => 'btn primary' %>
  <%= link_to "Back", stories_path, :class => 'btn' %>
</div>

<div class="row comments">
  <h3>Comments:</h3>
  <table>
    <%= render @comments %>
    <%= render 'comments/form' %>
  </table>
</div>




