
  <label class="label">Title:</label>
  <p><%= @story.title %></p>

  <label class="label">Content:</label>
  <p><%= @story.content %></p>

  <label class="label">User:</label>
  <p><%= unless @story.user.nil? then @story.user.full_name end %></p>

<%= link_to "Edit", edit_story_path(@story), :class => 'btn primary' %>
<%= link_to "Back", stories_path, :class => 'btn' %>
